.generalDiv {
    justify-content: left;
}

.uploadDiv {
    width: calc(600 / 1920 * 100vw);
    margin-bottom: 66px;
}

.nicknameDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 66px;
}

.aboutDiv {
    margin-bottom: 66px;
}

.title {
    font-size: 36px;
    font-weight: 500;
}

.inputDiv {
    margin-left: 35px;
}

.folderIcon {
    margin-left: 37px;
}