.header {
    display: flex;
    padding: 28px 0;
    align-items: center;
}

.menu {
    flex-grow: 1;
}

.menu ul{
    display: flex;
    margin: 0;
}

.menu li {
    list-style: none;
    margin-right: 30px;
}
.btns {
    max-width: 360px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headerWrap {
    background-color: #F5F5F5;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.profileButton {
    width: fit-content;
    height: fit-content;
    border-color: transparent;
    background-color: transparent;
}
.exitButton{
    color: var(--bottom);
}
.dropdown {
    position: absolute;
    top: 58px;
    width: 373px;
    background-color: white;
    transform: translateX(-85%) translateY(15%);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}
.menuItemDiv {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.menuItem{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
.menuItem:hover {
    background-color: var(--active);
}